[Unit]
Description=Indaba Supervisor
After=docker.service

[Service]
Type=simple
ExecStart=/bin/bash -c 'exec /usr/bin/node /indaba/supervisor/indaba-supervisor.js >> /indaba/supervisor.log 2>&1'
Restart=on-failure

[Install]
WantedBy=multi-user.target